<mat-card class="login-card" color="secondry">
  <mat-card-header>
    <mat-card-title class="login-title" color="primary">
      Sign In
    </mat-card-title>
  </mat-card-header>
  <mat-card-content color="primaty">
    <form (ngSubmit)="onSubmit()" class="login-form" #loginForm="ngForm">
      <mat-form-field>
        <input matInput placeholder="User Id" id="key" [(ngModel)]="keySet.key" name="key" #key="ngModel" required>
        <mat-error *ngIf="key.errors?.required">You must enter a value</mat-error>
      </mat-form-field>

      <mat-form-field>
        <input [type]="hide ? 'password' : 'text'" matInput placeholder="Password" id="password" [(ngModel)]="keySet.password" name="password" #password="ngModel" required>
        <mat-icon matSuffix (click)="hide = !hide">{{hide ? 'visibility' : 'visibility_off'}}</mat-icon>
        <mat-error *ngIf="password.errors?.required">You must enter a value</mat-error>
      </mat-form-field>
      <button type="submit" mat-raised-button color="primary" [disabled]="loginForm.invalid">Login</button>
    </form>
  </mat-card-content>
</mat-card>