<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.example.demo.repository.DogMapper">
    <!-- <select id="selectDogs" resultType="com.example.demo.entity.Dog"> -->
    <select id="findAll" resultMap="dogsResultMap">
        SELECT * FROM Dogs;
    </select>
	<resultMap id="dogsResultMap"  type="com.example.demo.entity.Dog" >
		<result property="id" column="dog_id" />
		<result property="name" column="dog_name" />
		<result property="area" column="area" />
	</resultMap>
</mapper>