.login {
  display: flex;
  align-items: center;
  flex-direction: column;
}

.login-card {
  margin: 24px;
  width:400px;
}

.login-form {
  display: flex;
  align-items: center;
  flex-direction: column;
}

.mat-form-field {
  width:90%;
  margin: 12px;
}

.login-form button {
  width: 50%;
}