<div>
  <span>ワンちゃん志願者登録</span>
  <form (ngSubmit)="onSubmit()" class="owner-register-form" #ownerRegisterForm="ngForm">
    <p>ペットの情報を記入してください。</p>
    <p>
      <mat-form-field class="full-width" appearance="fill">
        <mat-label>名前</mat-label>
        <input type="name" id="name" name="name" [(ngModel)]="pet.name" #name="ngModel" matInput required>
        <mat-error *ngIf="name.errors?.required">
          名前は<strong>必須項目です</strong>
        </mat-error>
      </mat-form-field>
    </p>
    <p>
      <mat-form-field class="full-width" appearance="fill">
        <mat-label>住所</mat-label>
        <input type="area" id="area" name="area" [(ngModel)]="pet.area" #area="ngModel" matInput required>
        <mat-error *ngIf="area.errors?.required">
         住所は<strong>必須項目です</strong>
        </mat-error>
      </mat-form-field>
    </p>
    <!--p>
      <mat-form-field class="full-width" appearance="fill">
        <mat-label>犬種</mat-label>
        <input type="kind" id="kind" name="kind" [(ngModel)]="pet.kind" #kind="ngModel" matInput required>
        <mat-error *ngIf="kind.errors?.required">
         犬種は<strong>必須項目です</strong>
        </mat-error>
      </mat-form-field>
    </p--> 
    <p>
      <mat-form-field class="full-width">
          <mat-toolbar>
            <!-- Browse Button -->
            <button class="upload-file-button" mat-flat-button color="primary">
              <mat-icon>attach_file</mat-icon>ファイルを選択
            </button>
            <!-- Readonly Input to show File names -->
            <input class="upload-file-name" matInput [(ngModel)]="myfilename" readonly name="memberContactNo" />
          </mat-toolbar>
          <!-- Fetch selected filed on change -->
          <input type="file" #UploadFileInput id="fileUpload" (change)="fileChangeEvent($event)" name="fileUpload" multiple="multiple" accept="image/*" />
      </mat-form-field>
    </p>

    <button class="submit-button" type="submit" mat-raised-button color="primary" [disabled]="ownerRegisterForm.invalid">登録</button>
  </form>
</div>